body {
	background-color: #777777;
	width: 960px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	margin: auto;
	
}
header, footer, aside, section, nav, aside, h1, p, article {
	background-color: #EBEBEB;
	text-align: center;
	display: block;
	padding: 10px;
	margin: 10px;

}

header {
	padding: 20px;
}
nav {
	background-color: #EBEBEB;
	text-align: center;
	padding: 20px;
}
section {
	background-color: #EBEBEB;
	width: 495px;
	text-align: center;
	float: left;
}
article {
	background-color: #777777;
	text-align: center;
	margin: 10px;

}
h1 {
	background-color: #EBEBEB;
	text-align: center;
}
p{
	background-color: #EBEBEB;
	text-align: center;
}
aside{
	background-color: #EBEBEB;
	text-align: center;
	width: 385px;
	float: left;
	height:198px;
}
footer{
	background-color: #EBEBEB;
	text-align: center;
	clear: both;
	padding: 20px;
}